/.CasualintellectParserTest.java._trace
/.FormatterTest.java._trace
/CasualintellectParserTest.java
/FormatterTest.java
/.GeneratorTest.java._trace
/.ValdiatorTest.java._trace
/GeneratorTest.java
/ValdiatorTest.java
